.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    border: 1px solid #0080ff;
    background-color: #cbddff;
    border-radius: 5px;
    padding: 10px;
    max-width: 300px;
    color: #0051a1;
    font-size: 18px;
}

.label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.addBtn {
    background-color: #a6c5ff;
    border: 2px solid #3285d8;
    border-radius: 10px;
    color: #3285d8;
    cursor: pointer;
    height: auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.addBtn:hover {
    background-color: #3273ec;
    color: #e9f4ff;
    transform: scale(1.1);
}